.overlay {
    background-color: rgba(5, 10, 20, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: compare-overlay-in 0.4s ease-in-out 0s 1 backwards;
}

.close{
    animation: compare-overlay-out 0.4s ease-in-out 0s 1 forwards;
}

@keyframes compare-overlay-in {
    from{
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
@keyframes compare-overlay-out {
    from{
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}
.overlay .compare-window {
    min-width: 30%;
    min-height: 30%;
    width: max-content;
    height: max-content;
    max-height: var(--max-height);
    opacity: 100%;
    background-color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(var(--selected-length), minmax(1px, 154px));
    grid-template-columns: repeat(var(--selected-length), minmax(1px, 154px));
    grid-column-gap: 20px;
    grid-template-rows: 1fr;
    justify-content: center;
    position: relative;
    padding: 50px 50px 30px 50px;
    border-radius: 5px;
}
.overlay .compare-window .box-container {
    width: 154px;
}
.overlay .compare-window .box-container .checked-box {
    z-index: 1;
    transition: none;
}
.overlay .compare-window .box-container .static {
    z-index: 3;
}
.overlay .box{
    position: fixed;
}
.overlay .box ~ .box{
    position: relative;
}
.overlay .compare-window .checked-box {
    border-color: rgb(24 61 191);
    /* border: 0; */
    color: black;
    box-shadow: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.overlay .compare-window .static {
    z-index: 3;
}

.overlay .compare-window .close-compare {
    position: absolute;
    top: 0px;
    right: 0px;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 6px 28px;
    border-radius: 0px 5px 0px 0px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.overlay .compare-window .close-compare > p {
    margin: 0;
    transform: rotate(45deg);
    font-size: 25px;
}

.overlay .compare-window .close-compare:hover {
    background-color: red;
    color: rgb(0 5 21);
}

.overlay .compare-window .dragging {
    position: fixed;
    top: 0;
}